<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unisciti al gruppo | Divitrino</title>
    <!-- // TODO add html page with metadata to make a nicer preview for crawlers
    // and also a text to invite users to download the app
    // with a redirect countdown -->
    <style>
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <a href="<%= appScheme %>/join?code=<%= code %>&inviteId=<%= inviteId %>">
      Apri Divitrino
    </a>
  </body>
</html>
